@model BeltViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("EditModel", "Belt", FormMethod.Post, new { enctype = "multipart/form-data", id = "sbmForm" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Изменить пояс</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="BeltNumber">Номер</label>
                <input type="number" class="form-control" placeholder="Введите номер" asp-for="BeltNumber">
                <span asp-validation-for="BeltNumber" class="errorSpan"></span>
            </div>
            <div class="form-group">

                <label asp-for="ShortName">Сокращенное название</label>
                <input type="text" class="form-control" placeholder="Введите сокращенное название" asp-for="ShortName">
                <span asp-validation-for="ShortName" class="errorSpan"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName">Полное название</label>
                <input type="text" class="form-control" placeholder="Введите полное название" asp-for="FullName">
                <span asp-validation-for="FullName" class="errorSpan"></span>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary" id="btnSubmit">Сохранить</button>
        </div>
    </div>
    @Html.HiddenFor(x => x.Id);
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
