@model TournamentViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("AddModel", "Tournament", FormMethod.Post, new { enctype = "multipart/form-data", id = "sbmForm" }))
{
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить турнир</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
        <div id="alertMessage" class="alert alert-danger collapse">
            <div id="alertText"></div>
            <div class="text-center"><btn class="btn" id="linkClose">Закрыть</btn></div>
        </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Name">Название</label>
                    <input type="text" class="form-control" placeholder="Введите название турнира" asp-for="Name">
                </div>
            <div class="form-group">
                <label asp-for="StartDate">Дата</label>
                <input class="form-control bg-white datepicker" data-date-format="m.d.Y G:iK" data-enable-time="true" asp-for="StartDate">
            </div>
                <div class="form-group">
                    <label asp-for="Address">Адрес</label>
                <input type="text" class="form-control" placeholder="Введите адрес" asp-for="Address">
                </div>
                
                </div>
           
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" id="btnSubmit">Сохранить</button>
            </div>
    </div>
}
<script type="text/javascript">
    <script type="text/javascript" >
        $('.datepicker').flatpickr({
            "locale": "ru"
        });
    $('#linkClose').click(function () {
        $('#alertMessage').hide('fade');
        $("#alertText").empty();

    });
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
