@model BracketState

<button id="saveButton" class="btn btn-check">Сохранить</button>

@if (Model.State == string.Empty)
{
  <div>Сделайте жеребьевку игроков!</div>
}
else
{
  <div class="container-fluid pt-lg-5">
    <div class="demo align-content-center">
        @Model.State
      </div>
  </div>
  
}
@section Scripts
{
  <script type="text/javascript">
    
  
    var customData = @Html.Raw(Model.State);
    console.log(customData)
    /* Edit function is called when team label is clicked */
    function edit_fn(container, data, doneCb) {
      var input = $('<input type="text">')
      input.val(data ? data.name : '')
      container.html(input)
      input.focus()
      input.blur(function() {
        var inputValue = input.val()
        if (inputValue.length === 0) {
          doneCb(null); // Drop the team and replace with BYE
        } else {
          var flagAndName = inputValue.split(':') // Expects correct input
          doneCb({flag: flagAndName[0], name: flagAndName[1]})
        }
      })
    }
  
    /* Render function is called for each team label when data is changed, data
     * contains the data object given in init and belonging to this slot.
     *
     * 'state' is one of the following strings:
     * - empty-bye: No data or score and there won't team advancing to this place
     * - empty-tbd: No data or score yet. A team will advance here later
     * - entry-no-score: Data available, but no score given yet
     * - entry-default-win: Data available, score will never be given as opponent is BYE
     * - entry-complete: Data and score available
     */
    function render_fn(container, data, score, state) {
      switch(state) {
        case "empty-bye":
          container.append("No team")
          return;
        case "empty-tbd":
          container.append("Upcoming")
          return;
  
        case "entry-no-score":
        case "entry-default-win":
        case "entry-complete":
          container.append(data.name)
          return;
      }
    }
     $(function() {
       console.log(customData)
       $('.demo').bracket({
        init: customData,
        skipConsolationRound: true,
        save: function(){}, /* without save() labels are disabled */
        decorator: {edit: edit_fn,
          render: render_fn},
        disableToolbar: true,
        disableTeamEdit: true,
        teamWidth: 93,
        scoreWidth: 31,
        matchMargin: 87,
        roundMargin: 84
      });
  
      $("#saveButton").click(function() {
        var data = $('.demo').bracket('data');
        console.log(data);
      });
  });
  
</script>
}

