@model ClubViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("AddModel", "Club", FormMethod.Post, new { enctype = "multipart/form-data", id = "sbmForm" }))
{
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить клуб</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Name">Название</label>
                    <input type="text" class="form-control" placeholder="Введите название" asp-for="Name">
                <span asp-validation-for="Name" class="errorSpan"></span>
                </div>
                
                </div>
           
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" id="btnSubmit">Сохранить</button>
            </div>
    </div>
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
