@{
    ViewData["Title"] = "База данных";
}
<div class="container px-lg-5">


<div class="row gx-4">
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://j7i7x4q6.rocketcdn.me/wp-content/uploads/2021/12/illustration-of-different-age-groups.webp" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Возрастные группы</h4>
                    <div class="text-center">
                        <a asp-controller="AgeGroup" asp-action="Index" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://www.nymaa.com/cm/dpl/images/create/orange_karate_belt.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Пояса</h4>
                    <div class="text-center">
                        @* <a asp-controller="Belt" asp-action="Index" class="btn  btn-primary"><i class="gg-arrow-right-r"></i></a> *@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://i.ibb.co/FsGyh7N/OIG-Mqau9h-VI-1.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Клубы</h4>
                    <div class="text-center">
                        @* <a asp-controller="Club" asp-action="Index" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://img.freepik.com/premium-photo/big-winner-s-golden-cup-on-grey-background_124507-30226.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Турниры</h4>
                    <div class="text-center">
                        @* <a asp-controller="Tournament" asp-action="Index" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://klike.net/uploads/posts/2020-07/1595226645_4.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Тренера</h4>
                    <div class="text-center">
                        @* <a asp-controller="Trainer" asp-action="Index" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://news.yale.edu/sites/default/files/styles/featured_media/public/ynews-367399052.jpg?itok=ag6BabIh&c=a75e254fe1da31f2732f6b0d7bce1413" alt="Card image" >
            <div class="card-body">
                <h4 class="card-title text-center">Весовые категории</h4>
                <div class="text-center">
                        @* <a asp-controller="WeightCategorie" asp-action="Index" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a> *@
                </div>
                </div>
            </div>
        </div>
    </div>
</div>






