@{
    ViewData["Title"] = "База данных";
}
<div class="container px-lg-5">

 
<div class="row gx-4">
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://j7i7x4q6.rocketcdn.me/wp-content/uploads/2021/12/illustration-of-different-age-groups.webp" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Возрастные группы</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://www.nymaa.com/cm/dpl/images/create/orange_karate_belt.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Пояса</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card img-fluid">
                <img class="card-img-top" src="https://таеквон.рф/wp-content/uploads/2020/10/AAA00007-1-scaled.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Клубы</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://moscowboxing.ru/images/0tex/0038.jpg" alt="Card image" ">
                <div class="card-body">
                    <h4 class="card-title text-center">Игроки</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://img.freepik.com/premium-photo/big-winner-s-golden-cup-on-grey-background_124507-30226.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Турниры</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://papik.pro/uploads/posts/2023-02/thumbs/1675832138_papik-pro-p-taekvondo-risunok-50.png" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title text-center">Тренера</h4>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch p-5">
            <div class="card width: img-fluid">
                <img class="card-img-top" src="https://news.yale.edu/sites/default/files/styles/featured_media/public/ynews-367399052.jpg?itok=ag6BabIh&c=a75e254fe1da31f2732f6b0d7bce1413" alt="Card image" >
            <div class="card-body">
                <h4 class="card-title text-center">Весовые категории</h4>
                <div class="text-center">
                    <a href="#" class="btn  btn-primary "><i class="gg-arrow-right-r"></i></a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
       

       
        
       

